
nav {
	background-color: #4285f4;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.light-text {
	color: white; font-weight: lighter;
}

.navbar-element {
	background-color:#6da3f9; border: 0;  box-shadow: none; color: white; margin: auto;
}

.search-btn {
	background-color:#6da3f9; border-color:#6da3f9; color: white;
}

.breadcrumbs {
	display:inline-block; margin: auto; padding-top:5px;
}

.breadcrumb-item a {
	color:white;
}

.form-control::-webkit-input-placeholder {
color:#fff;
}
.form-control:-moz-placeholder {
color:#fff;
}
 
.form-control::-moz-placeholder {
color:#fff;
}
 
.form-control:-ms-input-placeholder {
color:#fff;
}